/* Styles généraux */
body {
    font-family: 'syne', sans-serif;
    font-weight: 400;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px; /* Ajuste le padding pour réduire l'espace */
    background-color: #FFF;
}

#logo {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#logo .custom-logo {
    height: auto;
    width: auto;
    max-height: 30px; /* Ajuste la hauteur pour correspondre à celle du menu */
    margin-right: 600px;
}

/* Menu principal */
.menu-principal {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.menu-principal li a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 15px; /* Ajuste l'espacement autour des liens */
}

/* Style spécifique pour le bouton "Commander" */
.menu-principal li:last-child a {
    color: #FFFFFF;
    background-color: #DC9F96;
    padding: 35px 60px;
    padding-left: 40%;
    margin-right: 10%;
    border-radius:1px;
    font-weight: bold;
    text-align: center;
}

.menu-principal li:last-child a:hover {
    background-color: #c87a70;
}

/* Effet de survol pour tous les liens du menu sauf "Commander" */
.menu-principal li:not(:last-child) a:hover {
    font-weight: 700;
}

/* Style général de la page d'accueil */
.page-accueil {
    background-color: #F5EDE0; /* Couleur de fond de la page */
    border-radius: 20%;
}

/* Style du titre principal */
.page-accueil .titre-principal {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #2F8D46; /* Couleur verte */
    margin-bottom: 20px;
}

/* Style de l'image de la canette */
.page-accueil .image-canette {
    max-width: 300px;
    display: block;
    margin: 30px auto;
    
    border-bottom-right-radius: 400px 30px;
    border-bottom-left-radius: 400px 30px;
    background: #EDE2DA;
    padding-bottom: 47px !important;
}

.page-accueil .section-canette 
    {
        border-bottom-right-radius: 400px 30px;
        border-bottom-left-radius: 400px 30px;
        background: #EDE2DA;
        padding-bottom: 47px !important;
    }


/* Style des éléments décoratifs */
.page-accueil .feuilles {
    position: absolute;
    width: 150px;
    z-index: -1; /* Derrière l'image de la canette */
}

/* Positionnement des feuilles */
.page-accueil .feuilles.gauche {
    left: 20%;
    top: 30%;
}

.page-accueil .feuilles.droite {
    right: 20%;
    top: 30%;
}

/* Style des labels */
.wpforms-container label {
    font-size: 14px !important;
    font-weight: bold !important;
    color: #000000 !important;
    margin-bottom: 5px !important;
    display: block !important;
}

.lien-admin a {
    display: inline-block;
    background-color: #fdfdfd; 
    color: #0b0b0b; 
    padding: 10px 20px; 
    font-weight: bold; 
    font-size: 14px; 
    text-decoration: none; 
    margin-left: 15px; 
    box-shadow: none; 
    cursor: pointer; 
}

.lien-admin a:hover {
    background-color: #D39A84; /* Couleur au survol */
}


.lien-admin a:hover {
    background-color: #fefdfd; /* Couleur au survol */
}
/*border de la page d'acceuil*/

.elementor-element-cf83d28 {
    border-radius: 25px;
    padding: 20px;
    clip-path: ellipse(150% 100% at 50% 0);

}

.elementor-element-69caf44 {
    border-radius: 10px; 
    padding: 20px; 
    clip-path: ellipse(80% 100% at 50% 0);

}
.elementor-element-032f6ba {
    display: block !important; /* Réinitialisation des règles de flex */
    font-size: 48px;
    font-weight: bold;
    text-align: center !important; /* Centrer le contenu */
    padding: 10px !important; /* Ajouter de l'espace interne */
}

 /* Css de la page commander */
 
 .commande-produit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.commande-input {
    width: 30px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: -80px;
}

label {
    
    margin-bottom: 5px;
}


/* Style de la section du formulaire */
.wpforms-container {
    background-color: #4CAF50; 
    padding: 20px;
    border-radius: 10px;
}

/* Style des champs de formulaire */
.wpforms-field {
    margin-bottom: 15px;
}

.wpforms-field input,
.wpforms-field textarea {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style des titres de section */
.wpforms-title {
    font-size: 1.5rem;
    color: #ffffff; /* Couleur du texte */
    margin-bottom: 10px;
}

/* Style du bouton de commander */
.wpforms-submit {
    background-color: #D2A6A6; 
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
}
/* Formulaire de la page commander */
.wpforms-container .wpforms-field {
    flex: 0 0 48%; 
    max-width: 100%; 
    margin-bottom: 5px; 
}

label.wpforms-field-label {
    color: #ffffff !important; /* Change la couleur des titres en blanc */
}

/* Centrer le formulaire et aligner les sections */
.wpforms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px; 
    
}
/* Alignement des sections en colonnes */
.wpforms-container .wpforms-field-container {
    display: flex;
    flex-wrap: wrap;

    margin-left: 55px;
}

/* Ligne de séparation verticale */
.wpforms-field-container::before {
    content: '';
    position: absolute;
    top: -110px;
    bottom: 110px;
    left: 50%; /* Centre la ligne */
    width: 1px; /* Largeur de la ligne */
    background-color: #ffffff; /* Couleur de la ligne */
}

/* Centrer le bouton de soumission */
.wpforms-submit-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* Style du bouton */
.wpforms-container button[type="submit"],
.wpforms-container input[type="submit"] {
    background-color: #E6AFAF !important;
    margin-left: 150px;
    color: #fff !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 12px 40px !important;
    font-size: 18px !important;
    margin-top: 50px;
}


/* Ajustements pour les petits écrans */
@media (max-width: 768px) {
    .wpforms-container .wpforms-field {
        flex: 0 0 100%; 
    }
    .wpforms-field-container::before {
        display: none; 
    }
}
/* Mise en page du bouton formulaire page "nous rencontrer" */
.contact-form-container {
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: none; 
    background-color: transparent; 
    border: none; 
    position: relative;
}

.contact-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact-form-container label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

.contact-form-container input,
.contact-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff; 
}

.contact-form-container button {
    display: block;
    width: 50%;
    background-color: #d7a89c; 
    color: #fff;
    padding: 10px;
    align-items: center;
    margin-left: 70px; }
    /*border de la page recontrer*/
    .elementor-element-a9f1fca {
        background-color: #f2ebe5; /* Couleur de fond */
        clip-path: ellipse(120% 100% at 50% 0);
        padding: 30px;
    }
    
    

/* FOOTER */
#footer {
    background-color: #FFF; 
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

#footer a {
    color: black;
    text-decoration: none;
}


#footer a:hover {
    text-decoration: underline; /* Effet au survol */
    background-color: #FFFFFF;
}
/* Responsive */


.custom-logo-link{
display: none;
}
#logo .custom-logo-link{
    display: block;
}



.menu-toggle {
    display: none !important;
}



  
   


    /* Styles par défaut (desktop) */
.elementor-element-4e6cb50 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 480px) {
    .selector .image-canette {
        max-width: 150px;
    }

    .selector .feuilles {
        width: 70px;
    }

    .selector .feuilles.gauche {
        top: 30%;
        left: 0;
    }

    .selector .feuilles.droite {
        top: 30%;
        right: 0;
    }
}
