/* Styles généraux */
body {
    font-family: 'syne', sans-serif;
    font-weight: 400;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px; /* Ajuste le padding pour réduire l'espace */
    background-color: #FFF;
}

#logo {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#logo .custom-logo {
    height: auto;
    width: auto;
    max-height: 30px; /* Ajuste la hauteur pour correspondre à celle du menu */
    margin-right: 600px;
}

/* Menu principal */
.menu-principal {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.menu-principal li a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 15px; /* Ajuste l'espacement autour des liens */
}

/* Style spécifique pour le bouton "Commander" */
.menu-principal li:last-child a {
    color: #FFFFFF;
    background-color: #DC9F96;
    padding: 30px 25px;
    border-radius:1px;
    font-weight: bold;
    text-align: center;
    margin-right: -21px;
}

.menu-principal li:last-child a:hover {
    background-color: #c87a70;
}

/* Effet de survol pour tous les liens du menu sauf "Commander" */
.menu-principal li:not(:last-child) a:hover {
    font-weight: 700;
}

/* FOOTER */
#footer {
    background-color: #FFF; /* Couleur de fond du footer */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

#footer a {
    color: black;
    text-decoration: none;
}


#footer a:hover {
    text-decoration: underline; /* Effet au survol */
}